<a href="https://colab.research.google.com/github/yishairasowsky/Sefaria-Project/blob/master/classify.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

top_ten_topics_df = pd.read_pickle('/content/drive/My Drive/Colab Datasets/top_ten_topics_df.pkl')
top_ten_labels_df = pd.read_pickle('/content/drive/My Drive/Colab Datasets/top_ten_labels_df.pkl')

In [13]:
top_ten_topics_df.head()

                                                  En  ...  torah
0  mishna teach blemish develop within first year...  ...      0
1  see clear side afraid afraid person strength a...  ...      0
3  modifi mean board refer uniqu name modifi even...  ...      0
5  intercal month perform panel three judg interc...  ...      0
6  statement rabbi eliez correct regard anim offe...  ...      0

[5 rows x 11 columns]

In [14]:
top_ten_labels_df.head()

   laws-of-judges-and-courts  ...  torah
0                          0  ...      0
1                          0  ...      0
3                          0  ...      0
5                          1  ...      0
6                          0  ...      0

[5 rows x 10 columns]

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
X_train, X_test, y_train, y_test = train_test_split(top_['Consumer_complaint_narrative'], df['Product'], random_state = 0)
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)
clf = MultinomialNB().fit(X_train_tfidf, y_train)

In [0]:
X = []
sentences = list(top_ten_topics_df["En"])
for sen in sentences:
    X.append(sen)

y = top_ten_labels_df.values

In [24]:
# type(X_train)
type(y)

numpy.ndarray

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.20, random_state=42)
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

AttributeError: ignored